/* Style général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffd1dc;
    color: #333;
    margin: 2;
    padding: 2;
}

/* Titres POLICE + CENTRAGE */ 
h1, h2 {
    font-family: 'Verdana', sans-serif;
    color: #c8a2c8;
    text-align: center;
    margin-bottom: 20px;
}

/* Conteneur pour l'image et le texte */
.container {
    display: flex;
    align-items: center; /* Aligne verticalement l'image et le texte */
    gap: 20px; /* Espace entre l'image et le texte */
}

/* Style de l'image */
.container img {
    width: 300px; /* Largeur de l'image */
    height: auto; /*  proportions de l'image */
}


/* Style des paragraphes */
p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    color: #333;
}


/* Listes */
ul {
    color: #ff69b4;
    text-align: center;
}

/* Liens */
a {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #lightblue;
}